@model dynamic

<!DOCTYPE html>

<html>
<head>
  <title>Games Played</title>
  <script src="~/Scripts/angular/playerGame/js/playerGameApp.js"></script>
  <script src="~/Scripts/angular/playerGame/js/playerGameService.js"></script>
  <script src="~/Scripts/angular/playerGame/js/playerGameController.js"></script>
  <script src="~/Scripts/angular/playerGame/js/playerGameAddController.js"></script>
  <script src="~/Scripts/angular/playerGame/js/playerGameUpdateController.js"></script>
</head>
<body>
  <div class="row" ng-app="playerGameApp">
    <div ng-view></div>
  </div>
</body>
</html>