@model dynamic


<!DOCTYPE html>

<html>
<head>
  <title>Games</title>
  <script src="~/Scripts/angular/game/js/gameApp.js"></script>
  <script src="~/Scripts/angular/game/js/gameService.js"></script>
  <script src="~/Scripts/angular/game/js/gameController.js"></script>
  <script src="~/Scripts/angular/game/js/gameAddController.js"></script>
  <script src="~/Scripts/angular/game/js/gameUpdateController.js"></script>
</head>
<body>
  <div class="row" ng-app="gameApp">
    <div ng-view></div>
  </div>
</body>
</html>