@model dynamic

<!DOCTYPE html>

<html>
<head>
  <title>Players</title>
  <script src="~/Scripts/angular/player/js/playerApp.js"></script>
  <script src="~/Scripts/angular/player/js/playerService.js"></script>
  <script src="~/Scripts/angular/player/js/playerController.js"></script>
  <script src="~/Scripts/angular/player/js/playerAddController.js"></script>
  <script src="~/Scripts/angular/player/js/playerUpdateController.js"></script>
</head>
<body>
  <div class="row" ng-app="playerApp">
    <div ng-view></div>
  </div>
</body>
</html>